<ul class="nav nav-tabs mx-auto mb-3">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin']">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin/albums']">Album</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin/artists']">Artist</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin/genres']">Genre</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin/playlists']">Playlist</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin/songs']">Song</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin/users']">User</a>
  </li>
</ul>


<div class="d-flex justify-content-between">
  <h2>Albums listing</h2>
  <button class="btn btn-sm m-2 btn-secondary" (click)="toggleNewAlbum()" [ngClass]="{'btn-success': !newAlbumToggle}">
    <span *ngIf="newAlbumToggle">Cancel</span>
    <span *ngIf="!newAlbumToggle">New album</span>
  </button>  
</div>

<hr>

<div class="row">
  <div class="col-6" [ngClass]="{'col-12': !selectedAlbum.id}" *ngIf="!newAlbumToggle">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Cover</th>
          <th>Release Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let album of albums" (click)="showDetails(album)" [ngClass]="{'table-primary': selectedAlbum.id == album.id}">
          <td>{{ album.id }}</td>
          <td>{{ album.title }}</td>
          <td><img src="{{ album.imageUrl }}" alt="{{ album.title }}" class="img-fluid"></td>
          <td>{{ album.releaseDate }}</td>
        </tr>
      </tbody>
    </table>    
  </div>
  <div class="col-6" *ngIf="selectedAlbum.id && !newAlbumToggle">
    <form #albumForm="ngForm"> 
      <p class="text-center fw-bold">Album details</p>
      <ul>
        <li><b>Title:</b>
          <span *ngIf="!editAlbum; else albumTitleInput"> {{ selectedAlbum.title }}</span>
          <ng-template #albumTitleInput>
          <input class="form-control" type="text" [(ngModel)]="selectedAlbum.title" name="albumTitle">
          </ng-template>
        </li>
        <li><b>Release Date:</b>
          <span *ngIf="!editAlbum; else albumReleaseDateInput"> {{ selectedAlbum.releaseDate | date }}</span>
          <ng-template #albumReleaseDateInput>
          <input class="form-control" type="date" [(ngModel)]="selectedAlbum.releaseDate" useValueAsDate name="albumReleaseDate">
          </ng-template>
        </li>
        <li><b>Cover:</b><br>
          <span *ngIf="!editAlbum; else albumImageInput">
          <img class="img-fluid" src="{{ selectedAlbum.imageUrl }}" alt="{{ selectedAlbum.title }}">
          </span>
          <ng-template #albumImageInput>
          <input class="form-control" type="text" [(ngModel)]="selectedAlbum.imageUrl" name="albumImageUrl">
          </ng-template>
        </li>
      </ul>

      <div class="text-center">
        <div class="btn-group">
          <button 
            class="btn btn-sm btn-primary mx-auto"
            [ngClass]="{'btn-success': editAlbum}"
            (click)="editAlbum ? saveAlbum() : toggleEditAlbum()">
            <span *ngIf="editAlbum">Save</span>
            <span *ngIf="!editAlbum">Edit album details</span>
          </button>        
  
          <button *ngIf="editAlbum" 
          class="btn btn-sm btn-secondary mx-auto" 
          (click)="resetEdit()">
          Cancel
          </button>
        </div>  
      </div>      
    </form>
    
    <hr>

    <p class="text-center fw-bold">Album artists</p>
    <table class="table table-hover table-sm">
      <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>
          <button (click)="toggleAddArtist()" class="btn btn-sm btn-success">Add</button>
        </th>
      </thead>
      <tbody>
        <tr *ngIf="addArtistToggle">
          <td colspan="3">
            <select class="form-control" name="newArtist" [(ngModel)]="newArtist">
              <option *ngFor="let artist of filterArtists()" [ngValue]="artist">{{ artist.name }}</option>
            </select>                     
          </td>
          <td class="btn-group">
            <button class="btn btn-sm btn-success" (click)="addArtist(selectedAlbum)">Add</button>
            <button class="btn btn-sm btn-secondary" (click)="resetEdit()">Cancel</button>
          </td>
        </tr>
        <tr *ngFor="let artist of selectedAlbum.artists; let i = index" [routerLink]="['/admin/artists', artist.id]">
          <ng-container *ngIf="editIndex !== i">
            <td>{{ artist.id }}</td>
            <td>{{ artist.name }}</td>
            <td>{{ artist.description }}</td>
          </ng-container>
          <ng-container *ngIf="editIndex === i">
            <td colspan="3">
              <select class="form-control" name="newArtist" [(ngModel)]="selectedAlbum.artists![i]">
                <option [ngValue]="selectedAlbum.artists![i]" selected> {{ selectedAlbum.artists![i].name }} </option>
                <ng-container *ngFor="let artist of artists"><ng-container *ngIf="artist.id !== selectedAlbum.artists![i].id">
                    <option [ngValue]="artist">{{ artist.name }}</option>
                </ng-container></ng-container>
              </select>
            </td>
          </ng-container>
          <td class="btn-group">
            <ng-container *ngIf="editIndex === i">
              <button class="btn btn-sm btn-success" (click)="saveAlbum()">Save</button>
              <button class="btn btn-sm btn-secondary" (click)="resetEdit()">Cancel</button>
            </ng-container>
            <ng-container *ngIf="editIndex !== i">
              <button class="btn btn-sm btn-primary" (click)="toggleEditArtist(i)">Edit</button>
              <button class="btn btn-sm btn-danger" (click)="removeArtist(i)">Remove</button>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
        
    <hr>

    <p class="text-center fw-bold">Album songs</p>
    <table class="table table-hover table-sm">
      <thead>
          <th>ID</th>
          <th>Title</th>
          <th>Length</th>
      </thead>
      <tbody>
          <tr *ngFor="let song of selectedAlbum.songs" [routerLink]="['/admin/songs', song.id]">
              <td>{{ song.id }}</td>
              <td>{{ song.title }}</td>
              <td>{{ song.length | minutes }}</td>
          </tr>
      </tbody>
    </table>
  </div>

<div class="col-12" *ngIf="newAlbumToggle">
  <p class="text-center fw-bold">Album details</p>
    <ul>
      <li><b>Title:</b>
        <input class="form-control" type="text" [(ngModel)]="newAlbum.title" name="albumTitle">
      </li>
      <li><b>Release Date:</b>
        <input class="form-control" type="date" [(ngModel)]="newAlbum.releaseDate" useValueAsDate name="albumReleaseDate">
      </li>
      <li><b>Cover:</b><br>
        <input class="form-control" type="text" [(ngModel)]="newAlbum.imageUrl" name="albumImageUrl">
        <img class="img-fluid" src="{{ newAlbum.imageUrl }}" alt="{{ newAlbum.title }}">
      </li>
    </ul>

    <div class="text-center">
      <div class="btn-group">
        <button 
          class="btn btn-sm btn-success mx-auto"
          (click)="saveNewAlbum()">
          Save
        </button>        

        <button
          class="btn btn-sm btn-secondary mx-auto" 
          (click)="resetEdit()">
          Cancel
        </button>
      </div>
    </div>      
  </div>
</div>