<!-- list-genres.component.html -->
<ul class="nav nav-tabs mx-auto mb-3">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin']">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin/albums']">Album</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin/artists']">Artist</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin/genres']">Genre</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin/playlists']">Playlist</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin/songs']">Song</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin/users']">User</a>
  </li>
</ul>


<div class="d-flex justify-content-between">
  <h2>Genres listing</h2>
  <button class="btn btn-sm m-2 btn-secondary" (click)="toggleNewGenre()" [ngClass]="{'btn-success': !newGenreToggle}">
    <span *ngIf="newGenreToggle">Cancel</span>
    <span *ngIf="!newGenreToggle">New genre</span>
  </button>  
</div>

<hr>

<div class="row">
  <div class="col-6" [ngClass]="{'col-12': !selectedGenre}">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let genre of genres" (click)="showDetails(genre)" [ngClass]="{'table-primary': selectedGenre && selectedGenre.id == genre.id}">
          <td>{{ genre.id }}</td>
          <td>{{ genre.description }}</td>
        </tr>
      </tbody>
    </table>  
  </div>

  <div class="col-6" *ngIf="selectedGenre && !newGenreToggle">
    <p class="text-center fw-bold">Genre details</p>
    <ul>
      <li><b>ID:</b>
        <span> {{ selectedGenre.id }}</span>
      </li>
      <li><b>Description:</b>
        <span *ngIf="!editGenre; else genreDescInput"> {{ selectedGenre.description }}</span>
        <ng-template #genreDescInput>
        <input class="form-control" type="text" [(ngModel)]="selectedGenre.description">
        </ng-template>
      </li>
    </ul>

    <div class="text-center">
      <div class="btn-group">
        <button 
          class="btn btn-sm btn-primary mx-auto"
          [ngClass]="{'btn-success': editGenre}"
          (click)="editGenre ? saveGenre() : toggleEditGenre()">
          <span *ngIf="editGenre">Save</span>
          <span *ngIf="!editGenre">Edit genre details</span>
        </button>        

        <button *ngIf="editGenre" 
        class="btn btn-sm btn-secondary mx-auto" 
        (click)="resetEdit()">
        Cancel
        </button>
      </div>  
    </div>      
  </div>
  
  <div class="col-12" *ngIf="newGenreToggle">
    <p class="text-center fw-bold">New genre</p>
    <ul>
      <li><b>Description:</b>
        <input class="form-control" type="text" [(ngModel)]="newGenre.description">
      </li>
    </ul>

    <div class="text-center">
      <div class="btn-group">
        <button 
          class="btn btn-sm btn-success mx-auto"
          (click)="saveNewGenre()">
          Save
        </button>        

        <button
          class="btn btn-sm btn-secondary mx-auto" 
          (click)="resetEdit()">
          Cancel
        </button>
      </div>
    </div>      
  </div>
</div>
