button {
    color: #fff
}

.table-darker {
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
    border-color: #000;
    background-color: rgba(16, 16, 16, 0.25);
}

.table-darker {
    color: #fff;
}