<ul class="nav nav-tabs mx-auto my-3">
    <li class="nav-item">
      <a class="nav-link" href="#">Overview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="admin/albums">Album</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="admin/artists">Artist</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="admin/genres">Genre</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="admin/playlists">Playlist</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="admin/songs">Song</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="admin/users">User</a>
    </li>
</ul>