<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Search
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Library</span>
          <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Artists
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Albums
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Songs
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2" *ngIf="!selectedAlbum.id">Home</h1>
        <a *ngIf="selectedAlbum.id" class="btn btn-sm btn-outline-primary" (click)="this.selectedAlbum = {}"><</a>
        <div class="btn-toolbar mb-2 mb-md-0">
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            View
          </button>
        </div>
      </div>

      <div class="scrollspy-wrapper" *ngIf="!selectedAlbum.id">
          <div class="col" *ngFor="let album of albums" (click)="showAlbum(album)">
            <div class="card mb-3" [ngClass]="{'bg-dark': selectedAlbum.id == album.id}">
              <img src="{{ album.imageUrl }}" class="card-img-top">
              <div class="card-footer">
                <small [ngClass]="{'text-light': selectedAlbum.id == album.id, 'text-muted': selectedAlbum.id != album.id}">{{ album.title }}</small>
              </div>
            </div>
          </div>
      </div>

      <div *ngIf="selectedAlbum.id && selectedAlbum.songs?.length! > 0">
        <div class="album-details d-flex justify-content-center">
          <img src="{{ selectedAlbum.imageUrl }}" class="img-fluid">
          <div class="text-container mx-2">
            <h1 class="font-weight-bold">{{ selectedAlbum.title || "Album" }}</h1>
            <p class="mt-5 pt-5">by <span *ngFor="let artist of selectedAlbum?.artists; let last = last">
                {{ artist.name }}{{ !last ? ', ' : '' }}
            </span></p>
            <p class="mt-0">released in {{ selectedAlbum.releaseDate }}</p>
          </div>
        </div>      
  
        <div class="table-responsive mt-3">
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>#</th>
                <th>Title</th>
                <th>Length</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let song of selectedAlbum.songs">
                <td class="px-0"><button class="btn btn-sm" (click)="setSong(song)"><i class="fa fa-play"></i></button></td>
                <td>{{ song.id }}</td>
                <td>{{ song.title }}</td>
                <td>{{ song.length | minutes }}</td>
                <td><button class="btn btn-sm" (click)="addToQueue(song)"><i class="fa fa-square-plus"></i></button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </div>
</div>

<div class="fixed-bottom bg-dark p-2 audio-player">
  <div class="audio-info">
    <img src="{{ currentSong?.album?.imageUrl }}" class="audio-img">
    <div class="audio-song">
      <h3>{{ currentSong?.title }}</h3>
      <p>{{ currentSong?.album!.artists![0].name }}</p>
    </div>
  </div>
  <div class="audio-controls">
    <div class="btn-group">
      <button (click)="previous()"><i class="fa fa-step-backward"></i></button>
      <button (click)="playPause()">
        <i class="fa" [ngClass]="{ 'fa-pause': isPlaying, 'fa-play': !isPlaying }"></i>
      </button>
      <button (click)="next()"><i class="fa fa-step-forward"></i></button>  
    </div>
    
    <input type="range" class="audio-slider" [(ngModel)]="currentTime" min="0" [max]="getTotalTime()" (input)="seekTo($event)">
    <div class="audio-time">
      <span>{{ getCurrentTime() | minutes }}</span>
      <span>{{ getTotalTime() | minutes }}</span>
    </div>
  </div>
  <div class="audio-right">
    <button class="btn btn-sm"><i class="fa fa-bars"></i></button>
    <button class="btn btn-sm">
      <i [ngClass]="{
        'fa fa-volume-xmark': volume === 0,
        'fa fa-volume-low': volume > 0 && volume < 0.5,
        'fa fa-volume-high': volume >= 0.5
      }"></i>
    </button>    
    <input type="range" class="audio-volume" [(ngModel)]="volume" min="0" max="1" step="0.01" (input)="changeVolume()">
  </div>  
</div>
