<ul class="nav nav-tabs mx-auto my-3">
  <li class="nav-item">
    <a class="nav-link" href="#">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="admin/albums">Album</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="admin/artists">Artist</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="admin/genres">Genre</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="admin/playlists">Playlist</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="admin/songs">Song</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="admin/users">User</a>
  </li>
</ul>

<div class="d-flex justify-content-between">
  <h2>Playlists listing</h2>
  <button class="btn btn-sm m-2 btn-secondary" (click)="toggleNewPlaylist()" [ngClass]="{'btn-success': !newPlaylistToggle}">
    <span *ngIf="newPlaylistToggle">Cancel</span>
    <span *ngIf="!newPlaylistToggle">New playlist</span>
  </button>
</div>

<hr>

<div class="row">
  <div class="col-6" [ngClass]="{'col-12': !selectedPlaylist}" *ngIf="!newPlaylistToggle">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let playlist of playlists" (click)="showDetails(playlist)" [ngClass]="{'table-primary': selectedPlaylist?.id == playlist.id}">
          <td>{{ playlist.id }}</td>
          <td>{{ playlist.name }}</td>
          <td>{{ playlist.user?.username }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-6" *ngIf="selectedPlaylist && !newPlaylistToggle">
    <p class="text-center fw-bold">Playlist details</p>
      <div class="col">
        <p class="fs-5">{{ selectedPlaylist.name }} songs</p>
        <table class="table table-sm">
          <thead>
            <th>ID</th>
            <th>Title</th>
            <th>Length</th>
          </thead>
          <tbody>
            <tr *ngFor="let song of selectedPlaylist?.songs">
              <td>{{ song.id }}</td>
              <td>{{ song.title }}</td>
              <td>{{ song.length }}</td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="addSongToggle">
          <hr>
          <p class="text-center fw-bold">Add Song</p>
          <select class="form-control mb-2" [(ngModel)]="newSong" name="newSong">
            <option *ngFor="let song of filterSongs()" [ngValue]="song">{{ song.title }}</option>
          </select>
          <div class="text-center">
            <button class="btn btn-sm btn-success" (click)="addSong()">Add Song</button>
            <button class="btn btn-sm btn-secondary" (click)="toggleAddSong()">Cancel</button>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-sm btn-primary" (click)="toggleAddSong()" *ngIf="!addSongToggle">Add Song</button>
        </div>
      </div>
      <div class="col">
        <p class="fs-5">{{ selectedPlaylist.name }} User</p>
        <table class="table table-sm">
          <thead>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
          </thead>
          <tbody>
            <tr>
              <td>{{ selectedPlaylist.user?.id }}</td>
              <td>{{ selectedPlaylist.user?.username }}</td>
              <td>{{ selectedPlaylist.user?.email }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>

  <div class="col-12" *ngIf="newPlaylistToggle">
    <p class="text-center fw-bold">Create New Playlist</p>
    <div class="col">
        <label for="playlistName">Name:</label>
        <input class="form-control" type="text" [(ngModel)]="newPlaylist.name" name="playlistName">
    </div>
    <div class="col">
      <label for="playlistUser">User:</label>
      <select class="form-control" [(ngModel)]="newPlaylist.user" name="playlistUser">
        <option *ngFor="let user of users" [ngValue]="user">{{ user.username }}</option>
      </select>
    </div>
    <div class="text-center mt-2">
      <button class="btn btn-sm btn-success" (click)="saveNewPlaylist()">Save Playlist</button>
      <button class="btn btn-sm btn-secondary" (click)="toggleNewPlaylist()">Cancel</button>
    </div>
  </div>
</div>