/* You can add global styles to this file, and also import other style files */
.table {
    background-color: white !important;
}

.img-fluid {
    max-width: 12rem !important;
}

.navbar {
    z-index: 100;
}