<ul class="nav nav-tabs mx-auto mb-3">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin']">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin/albums']">Album</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin/artists']">Artist</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin/genres']">Genre</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin/playlists']">Playlist</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin/songs']">Song</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/admin/users']">User</a>
  </li>
</ul>


<div class="d-flex justify-content-between">
  <h2>Artists listing</h2>
  <button class="btn btn-sm m-2 btn-secondary" (click)="toggleNewArtist()" [ngClass]="{'btn-success': !newArtistToggle}">
    <span *ngIf="newArtistToggle">Cancel</span>
    <span *ngIf="!newArtistToggle">New artist</span>
  </button>  
</div>

<hr>

<div class="row">
  <div class="col-6" [ngClass]="{'col-12': !selectedArtist.id}" *ngIf="!newArtistToggle">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Country Code</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let artist of artists" (click)="showDetails(artist)" [ngClass]="{'table-primary': selectedArtist.id == artist.id}">
          <td>{{ artist.id }}</td>
          <td>{{ artist.name }}</td>
          <td>{{ artist.description }}</td>
          <td>{{ artist.countryCode }}</td>
        </tr>
      </tbody>
    </table>  
  </div>

  <div class="col-6" *ngIf="selectedArtist.id && !newArtistToggle">
    <p class="text-center fw-bold">Artist details</p>
    <ul>
      <li><b>Name:</b>
        <span *ngIf="!editArtist; else artistNameInput"> {{ selectedArtist.name }}</span>
        <ng-template #artistNameInput>
        <input class="form-control" type="text" [(ngModel)]="selectedArtist.name" name="artistName">
        </ng-template>
      </li>
      <li><b>Description:</b>
        <span *ngIf="!editArtist; else artistDescInput"> {{ selectedArtist.description }}</span>
        <ng-template #artistDescInput>
        <input class="form-control" type="text" [(ngModel)]="selectedArtist.description">
        </ng-template>
      </li>
      <li>
        <b>Country:</b>
        <ng-container *ngIf="!editArtist; else artistCountryInput">
          {{ regionNames.of(selectedArtist.countryCode!) }}
        </ng-container>
        <ng-template #artistCountryInput>
          <input class="form-control" type="text" [(ngModel)]="selectedArtist.countryCode" name="artistCountry">
        </ng-template>
      </li>
      
    </ul>

    <div class="text-center">
      <div class="btn-group">
        <button 
          class="btn btn-sm btn-primary mx-auto"
          [ngClass]="{'btn-success': editArtist}"
          (click)="editArtist ? saveArtist() : toggleEditArtist()">
          <span *ngIf="editArtist">Save</span>
          <span *ngIf="!editArtist">Edit artist details</span>
        </button>        

        <button *ngIf="editArtist" 
        class="btn btn-sm btn-secondary mx-auto" 
        (click)="resetEdit()">
        Cancel
        </button>
      </div>  
    </div>      

    <hr>

    <p class="text-center fw-bold">{{ selectedArtist.name }} genres</p>
    <table class="table table-sm">
      <thead>
        <th>ID</th>
        <th>Description</th>
        <th>
          <button (click)="toggleAddGenre()" class="btn btn-sm btn-success">Add</button>
        </th>
      </thead>
      <tbody>
        <tr *ngIf="addGenreToggle">
          <td colspan="2">
            <select class="form-control" name="newGenre" [(ngModel)]="newGenre">
              <option *ngFor="let genre of filterGenres()" [ngValue]="genre">{{ genre.description }}</option>
            </select>                     
          </td>
          <td class="btn-group">
            <button class="btn btn-sm btn-success" (click)="addGenre()">Add</button>
            <button class="btn btn-sm btn-secondary" (click)="resetEdit()">Cancel</button>
          </td>
        </tr>
        <tr *ngFor="let genre of selectedArtist.genres; let i = index">
          <ng-container *ngIf="editIndex !== i">
            <td>{{ genre.id }}</td>
            <td>{{ genre.description }}</td>
          </ng-container>
          <ng-container *ngIf="editIndex === i">
            <td colspan="2">
              <select class="form-control" name="newGenre" [(ngModel)]="selectedArtist.genres![i]">
                <option [ngValue]="selectedArtist.genres![i]" selected> {{ selectedArtist.genres![i].description }} </option>
                <ng-container *ngFor="let genre of genres"><ng-container *ngIf="genre.id !== selectedArtist.genres![i].id">
                    <option [ngValue]="genre">{{ genre.description }}</option>
                </ng-container></ng-container>
              </select>
            </td>
          </ng-container>
          <td class="btn-group">
            <ng-container *ngIf="editIndex === i">
              <button class="btn btn-sm btn-success" (click)="saveArtist()">Save</button>
              <button class="btn btn-sm btn-secondary" (click)="resetEdit()">Cancel</button>
            </ng-container>
            <ng-container *ngIf="editIndex !== i">
              <button class="btn btn-sm btn-primary" (click)="toggleEditGenre(i)">Edit</button>
              <button class="btn btn-sm btn-danger" (click)="removeGenre(i)">Remove</button>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
    
    <hr>

    <p class="text-center fw-bold">{{ selectedArtist.name }} Albums</p>
    <table class="table table-hover table-sm">
      <thead>
          <th>Title</th>
          <th>Release Date</th>
          <th>Cover</th>
      </thead>
      <tbody>
          <tr *ngFor="let album of selectedArtist.albums" [routerLink]="['/admin/albums', album.id]">
          <td>{{ album.title }}</td>
          <td>{{ album.releaseDate }}</td>
          <td><img src="{{ album.imageUrl }}" alt="{{ album.title }}" class="img-fluid"></td>
          </tr>
      </tbody>
    </table>    
  </div>
  
  <div class="col-12" *ngIf="newArtistToggle">
    <p class="text-center fw-bold">Artist details</p>
    <ul>
      <li><b>Name:</b>
        <input class="form-control" type="text" [(ngModel)]="newArtist.name" name="artistName">
      </li>
      <li><b>Description:</b>
        <input class="form-control" type="text" [(ngModel)]="newArtist.description">
      </li>
      <li><b>Country:</b><br>
        <input class="form-control" type="text" [(ngModel)]="newArtist.countryCode" name="artistCountry">
      </li>
    </ul>

    <div class="text-center">
      <div class="btn-group">
        <button 
          class="btn btn-sm btn-success mx-auto"
          (click)="saveNewArtist()">
          Save
        </button>        

        <button
          class="btn btn-sm btn-secondary mx-auto" 
          (click)="resetEdit()">
          Cancel
        </button>
      </div>
    </div>      
  </div>
</div>