<ul class="nav nav-tabs mx-auto my-3">
  <li class="nav-item">
    <a class="nav-link" href="#">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="admin/albums">Album</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="admin/artists">Artist</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="admin/genres">Genre</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="admin/playlists">Playlist</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="admin/songs">Song</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="admin/users">User</a>
  </li>
</ul>

<div class="row">
  <div class="col-6" [ngClass]="{'col-12': !selectedArtist.id}">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Country Code</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let artist of artists" (click)="showDetails(artist)">
          <td>{{ artist.id }}</td>
          <td>{{ artist.name }}</td>
          <td>{{ artist.description }}</td>
          <td>{{ artist.countryCode }}</td>
        </tr>
      </tbody>
    </table>  
  </div>

  <div class="col-6" *ngIf="selectedArtist.id">
    <p class="text-center font-weight-bold">{{ selectedArtist.name }} genres</p>
    <table class="table table-sm">
      <thead>
        <th>ID</th>
        <th>Description</th>
        <th>
          <button (click)="toggleAddGenre()" class="btn btn-sm btn-success">Add</button>
        </th>
      </thead>
      <tbody>
        <tr *ngIf="addGenreToggle">
          <td colspan="2">
            <select class="form-control" name="newGenre" [(ngModel)]="newGenre">
              <option *ngFor="let genre of filterGenres()" [ngValue]="genre">{{ genre.description }}</option>
            </select>                     
          </td>
          <td class="btn-group">
            <button class="btn btn-sm btn-success" (click)="addGenre()">Add</button>
            <button class="btn btn-sm btn-secondary" (click)="resetEdit()">Cancel</button>
          </td>
        </tr>
        <tr *ngFor="let genre of selectedArtist.genres; let i = index">
          <ng-container *ngIf="editIndex !== i">
            <td>{{ genre.id }}</td>
            <td>{{ genre.description }}</td>
          </ng-container>
          <ng-container *ngIf="editIndex === i">
            <td colspan="2">
              <select class="form-control" name="newGenre" [(ngModel)]="selectedArtist.genres![i]">
                <option [ngValue]="selectedArtist.genres![i]" selected> {{ selectedArtist.genres![i].description }} </option>
                <ng-container *ngFor="let genre of genres"><ng-container *ngIf="genre.id !== selectedArtist.genres![i].id">
                    <option [ngValue]="genre">{{ genre.description }}</option>
                </ng-container></ng-container>
              </select>
            </td>
          </ng-container>
          <td class="btn-group">
            <ng-container *ngIf="editIndex === i">
              <button class="btn btn-sm btn-success" (click)="saveArtist()">Save</button>
              <button class="btn btn-sm btn-secondary" (click)="resetEdit()">Cancel</button>
            </ng-container>
            <ng-container *ngIf="editIndex !== i">
              <button class="btn btn-sm btn-primary" (click)="toggleEditGenre(i)">Edit</button>
              <button class="btn btn-sm btn-danger" (click)="removeGenre(i)">Remove</button>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
    
    <hr>

    <p class="text-center font-weight-bold">{{ selectedArtist.name }} Albums</p>
    <table class="table table-hover table-sm">
      <thead>
          <th>Title</th>
          <th>Release Date</th>
          <th>Cover</th>
      </thead>
      <tbody>
          <tr *ngFor="let album of selectedArtist.albums" [routerLink]="['/admin/albums', album.id]">
          <td>{{ album.title }}</td>
          <td>{{ album.releaseDate }}</td>
          <td><img src="{{ album.imageUrl }}" alt="{{ album.title }}" class="img-fluid"></td>
          </tr>
      </tbody>
    </table>    
  </div>  
</div>