<div id="app">
  <div class="topbar">
    <div class="prev-next-buttons">
      <button type="button" class="fa fas fa-chevron-left" (click)="navigateBack()"></button>
      <button type="button" class="fa fas fa-chevron-right" (click)="navigateForward()"></button>
    </div>    

    <div class="navbar">
      <ul>
        <li>
          <a href="#">Premium</a>
        </li>
        <li>
          <a href="#">Support</a>
        </li>
        <li>
          <a href="#">Download</a>
        </li>
        <li class="divider">|</li>
        <li *ngIf="!isLoggedIn">
          <a routerLink="register">Sign Up</a>
        </li>
        <li *ngIf="!isLoggedIn">
          <a routerLink="login">Log In</a>
        </li>
        <li *ngIf="showAdminBoard">
          <a href="/admin">Admin Board</a>
        </li>
        <li *ngIf="isLoggedIn">
          <a href="#" (click)="logout()">Logout</a>
        </li>
        <li *ngIf="isLoggedIn" class="dropdown">
          <button class="dropdown-toggle" role="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            {{ username }}
          </button>
          <ul class="dropdown-menu row" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item text-dark m-0" href="/profile">Profile</a></li>
            <li><a class="dropdown-item text-dark m-0" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="sidebar">
    <div class="navigation">
      <ul class="mt-5">
        <li>
          <a href="#">
            <span class="fa fa-home"></span>
            <span>Home</span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="fa fa-search"></span>
            <span>Search</span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="fa fas fa-book"></span>
            <span>Your Library</span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="fa fas fa-plus-square"></span>
            <span>Create Playlist</span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="fa fas fa-heart"></span>
            <span>Liked Songs</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="main-container text-light">
    <router-outlet></router-outlet>
  </div>
</div>
