<ul class="nav nav-tabs mx-auto my-3">
  <li class="nav-item">
    <a class="nav-link" href="#">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Album</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Artist</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Genre</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Playlist</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Song</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">User</a>
  </li>
</ul>

<div class="row">
<div class="col-6" [ngClass]="{'col-12': !selectedSong.id}">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><a (click)="sortOn('id')">ID</a></th>
        <th><a (click)="sortOn('title')">Title</a></th>
        <th><a (click)="sortOn('length')">Length</a></th>
        <th><a (click)="sortOn('album.title')">Album</a></th>
      </tr>
    </thead>    
    <tbody>
      <tr *ngFor="let song of songs$ | async" 
      (click)="showDetails(song)" 
      [ngClass]="{
        'table-primary': selectedSong.id && selectedSong.id === song.id,
        'table-secondary': selectedSong.id && selectedSongAlbum.id === song.album?.id && (!selectedSong || selectedSong.id !== song.id)
      }">
        <td>{{ song.id }}</td>
        <td>{{ song.title }}</td>
        <td>{{ song.length }}</td>
        <td>{{ song.album?.title }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="col-6" *ngIf="selectedSong.id">
  <form #songForm="ngForm"> 
    <p class="text-center font-weight-bold">Song details</p>
    <ul>
      <li><b>Title:</b>
        <span *ngIf="!editSong; else titleInput"> {{ selectedSong.title }}</span>
        <ng-template #titleInput>
          <input class="form-control" type="text" [(ngModel)]="selectedSong.title" name="title">
        </ng-template>
      </li>
      <li><b>Album:</b>
        <span *ngIf="!editSong; else albumInput"> {{ selectedSongAlbum.title }} by 
          <span *ngFor="let artist of selectedSongAlbum?.artists; let last = last">
            {{ artist.name }}{{ !last ? ', ' : '' }}
          </span>
        </span>
        <ng-template #albumInput>
          <select class="form-control" name="album" [(ngModel)]="selectedSong.album">
            <!-- Gambiarra da desgraça pra mostrar o álbum da música selecionada -->
            <option [ngValue]="selectedSong.album" selected>
              {{ selectedSong.album?.title }} by {{ getArtistsNames(selectedSong.album) }}
            </option>
            <!-- o ngModel não deixa bindar o objeto Album diretamente -->
            <ng-container *ngFor="let album of albums">
              <ng-container *ngIf="album.id !== selectedSong.album?.id">
                <option [ngValue]="album">
                  {{ album.title }} by {{ getArtistsNames(album) }}
                </option>
              </ng-container>
            </ng-container>
          </select>
      </ng-template>      
      </li>
      <li><b>Length:</b> 
        <span *ngIf="!editSong; else lengthInput"> {{ selectedSong.length | minutes}}</span>
        <ng-template #lengthInput>
          <input class="form-control" type="number" [(ngModel)]="selectedSong.length" name="length">
        </ng-template>
      </li>
    </ul>
    <div class="text-center">
      <div class="btn-group">
        <button 
          class="btn btn-sm btn-primary mx-auto"
          [ngClass]="{'btn-success': editSong}"
          (click)="saveSong()">
          <span *ngIf="editSong">Save</span>
          <span *ngIf="!editSong">Edit song details</span>
        </button>
        <button *ngIf="editSong" 
          class="btn btn-sm btn-secondary mx-auto" 
          (click)="cancelSong()">
          Cancel
        </button>
      </div>
    </div>      
  </form>

  <hr>

  <form #albumForm="ngForm"> 
    <p class="text-center font-weight-bold">Album details</p>
    <ul>
      <li><b>Title:</b>
        <span *ngIf="!editAlbum; else albumTitleInput"> {{ selectedSongAlbum.title }}</span>
        <ng-template #albumTitleInput>
          <input class="form-control" type="text" [(ngModel)]="selectedSongAlbum.title" name="albumTitle">
        </ng-template>
      </li>
      <li><b>Release Date:</b>
        <span *ngIf="!editAlbum; else albumReleaseDateInput"> {{ selectedSongAlbum.releaseDate | date }}</span>
        <ng-template #albumReleaseDateInput>
          <input class="form-control" type="date" [(ngModel)]="selectedSongAlbum.releaseDate" useValueAsDate name="albumReleaseDate">
        </ng-template>
      </li>
      <li><b>Cover:</b><br>
        <span *ngIf="!editAlbum; else albumImageInput">
          <img class="img-fluid" src="{{ selectedSongAlbum.imageUrl }}" alt="{{ selectedSongAlbum.title }}">
        </span>
        <ng-template #albumImageInput>
          <input class="form-control" type="text" [(ngModel)]="selectedSongAlbum.imageUrl" name="albumImageUrl">
        </ng-template>
      </li>
    </ul>
    <div class="text-center">
      <div class="btn-group">
        <button 
          class="btn btn-sm btn-primary mx-auto"
          [ngClass]="{'btn-success': editAlbum}"
          (click)="saveAlbum()">
          <span *ngIf="editAlbum">Save</span>
          <span *ngIf="!editAlbum">Edit album details</span>
        </button>
        <button *ngIf="editAlbum" 
          class="btn btn-sm btn-secondary mx-auto" 
          (click)="cancelAlbum()">
          Cancel
        </button>
      </div>
    </div>      
  </form>    
      
  <hr>

  <p class="text-center font-weight-bold">Album songs</p>
  <table class="table table-sm">
    <thead>
        <th>ID</th>
        <th>Title</th>
        <th>Length</th>
    </thead>
    <tbody>
        <tr *ngFor="let song of getSongsByAlbum(selectedSongAlbum)">
            <td>{{ song.id }}</td>
            <td>{{ song.title }}</td>
            <td>{{ song.length | minutes }}</td>
        </tr>
    </tbody>
  </table>    
</div>
</div>