.audio-img {
    max-width: 4rem;
    max-height: 4rem;
}

.audio-player {
    color: #fff;
    /*max-height: 10%;*/
}

.audio-player button {
    color: #fff;
    width: 33.33%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.btn-controls {
    font-size: 12px !important
}
